<lib-navbar [navbarMenu]="navbarMenu">

    <div class="logo">
        <a routerLink="/">logoooo</a>
    </div>
</lib-navbar>

<div class="hero" scrollProperty heroImageHeight="40vw" backdrop heroImage="//res.cloudinary.com/kfw/image/fetch/c_fill,w_1200,h_500,g_faces/https://farm5.staticflickr.com/4411/36547071860_50303835dc_o.jpg">
    <!-- <h1>This is the title</h1> -->
    <lib-countdown [startDate]="startDate" [types]="[types.DAYS, types.HOURS, types.MINS, types.SECS]"></lib-countdown>
</div>

<div style="height: 3000px;padding-top:100px;background: red;">
    <router-outlet></router-outlet>
</div>
