// customize bulma
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';
$primary: #d7df23;
@import 'node_modules/bulma/bulma.sass';

body {
    font-family: roboto;
    font-weight: 100;
    background: rebeccapurple;
}

lib-countdown {
    font-size: 2vw;
    color: hsla(0, 0%, 100%, 0.5);
    // --stroke-color: white;
    // --text-color: white;
    --stroke-width: 0.3vw;
    --inbetween-space: 10px;
    > :last-child {
        color: white;
    }
}
